@charset "utf-8";
/* CSS Document */

/*===========resize===========*/

html{
	background: url(images/backgr.png);
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	min-height: 816px;
	min-width: 1165px;
	height: 816px;
	width: 1100px;
  margin:335px 300px 40px 170px;
  background: rgba(255, 255, 255, 0.5);
}

/*===========header===========*/

header {
	background-color:rgba(255, 255, 255, 0.7);
  text-align:right;
	font-size:18px;
	word-spacing:0.5em;
 }

.firstNav ul{
    padding:0.5em 2em 0.5em 0em;
}

.firstNav li{
    font-family:sans-serif;
    display:inline;
    word-spacing:0.5em;
}

.firstNav a{
    color:#6c8384;
}
 
/*===========Nav===========*/

.secNav {
  background-color:rgba(255, 255, 255, 0.5);
	min-height: 775px;
	min-width: 117px;
  height:775px;
  width:117px;
  float:left;
	line-height:32px;
	text-align:left;
	font-size:18px;
	margin:-18.5px 0px 0px 0px;
	display: block;
 }

#new-layers{
  margin-top: 120px;
	margin-left: 25px;
}

/*===========article===========*/

section {
  width:700px;
	height: 740px;
  float:left; 
	padding:0em 0em 1em 3em;
 }

#container{
	width:780px; 
	height: 550px;
	margin:45px 10px 45px 18px;
} 

.input-card {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height:550px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
  width: 300px;
  border-width: 2px;
  border-radius: 0.7rem;
  box-shadow: 0 2px 4px 0 rgba(114, 124, 245, .5);
  position: fixed;
  bottom: 0.2rem;
  right: 0rem;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.5em 0.15em 1.55em 0.5em ;
}

#map-center{
  margin-left: 0.4em; 
}

#city-name {
  margin-left: 0.5em;
}

#city{
  margin-bottom:0.5em;
}
#stock{
  margin-top: 0.5em;
}

.info {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
  position: fixed;
  top: 1rem;
  background-color: white;
  width: auto;
  min-width: 12rem;
  border-width: 0;
  right: 1rem;
  box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
}

.sharp{
  height: 1rem;
  width: 1rem;
  background-color: white;
  transform: rotateZ(45deg);
  box-shadow: 2px 2px 3px rgba(114, 124, 245, .5);
  position: inherit;
  margin-left: 8.2rem;
  margin-top: -10px;
}

h4 {
  font-family: sans-serif;
  line-height: 1.8;
  font-weight: 700;
  color: black;
  font-size: 1.1em;
  margin-top: 0.1em;
  margin-left:0.4em;
  margin-bottom: 0em;
}

#weather {
  margin-top: 0.3em;
  margin-left: -1.3em;
}

    
/*===========footer===========*/

footer {
    background-color:rgba(255, 255, 255, 0.7);
    clear:both;
    text-align:center;
    padding:2em 0em 1em 0em;	 	 
}

footer a,em{
	font-size:18px;
  font-family:sans-serif;
	color:#6c8384;
}

footer a{
	text-decoration: none;
}
    